.vue-scaff-docs {
}

:root {
  // 主题色
  --c-brand: #ff4a48 !important;
  --c-brand-light: #ff5f60 !important;
  --c-tip: #ff4a48 !important;

  // 页款
  --content-width: 920px;

  // 日照模式
  & {
    scroll-behavior: smooth;

    code {
      // color: white;
    }

    th,
    td {
      text-align: center;
    }

    i.icon {
      display: inline-block;
      margin: 0 auto;
      width: 120px;
      display: flex;
      white-space: nowrap;
      justify-content: center;
      background-size: 48px;
      background-repeat: no-repeat;
      background-position: center top;

      padding-top: 60px;
    }

    i.chrome {
      background-image: url(https://oss.vue-scaff.com/icons/chrome.png);
    }
    i.edge {
      background-image: url(https://oss.vue-scaff.com/icons/edge.png);
    }
    i.firefox {
      background-image: url(https://oss.vue-scaff.com/icons/firefox.png);
    }
    i.ie {
      background-image: url(https://oss.vue-scaff.com/icons/ie.png);
    }
    i.opera {
      background-image: url(https://oss.vue-scaff.com/icons/opera.png);
    }
    i.safari {
      background-image: url(https://oss.vue-scaff.com/icons/safari.png);
    }
    i.android {
      background-image: url(https://oss.vue-scaff.com/icons/android.png);
    }
    i.samsung {
      background-image: url(https://oss.vue-scaff.com/icons/samsung.png);
    }
  }

  // 夜间模式
  &.dark {
    i.icon {
      filter: drop-shadow(white 0 160px);
      transform: translateY(-160px);
    }
  }

  // 封面
  .hero {
    img {
      max-height: 360px;
    }
  }

  // 二维码
  .qr {
    .feature {
      flex-basis: 36%;
      max-width: 36%;
      padding: 7%;
    }

    img {
      border-radius: 6px;
    }
  }
}
